Datas/Geoguessr/

Datas/fashion-mnist/fashion-mnist_test.csv

Datas/Mnist/mnist_test.csv

Datas/Mnist/mnist_train.csv

Datas/Ciphar-10/

CNN/BestModels/

Perceptron/ 
# maybe change this above

CNN2/
# maybe change this above

Datas2/

Datas/Modify_ciphar.ipynb

Datas/modify_data.ipynb

__pycache__

.idea

.venv

.vscode